<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>

        {% block title %} {% endblock %}

    </title>
    <style>

    .bs-popover-bottom {
     margin-top: 1.5rem;
    }

    .popover{
     border:1px solid #343a40d9;
    }

    .btn-info{
     background-color:#0cd3f2;
    }

    .mark, mark {
    padding: -0.6em;
    background-color: #ffffff;
    }

    .border1 {
    border: 3px solid #03be2e!important;
    }

    {% block css %} {% endblock %}

    </style>

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><em><b><u>My Awesome Cart</u></b></em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shop/about">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shop/contact">Contact Us</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/shop/tracker">Order Tracker</a>
            </li>
            <form method="get" action="/shop/search/" class="form-inline my-2 my-lg-0">
                <input class="form-control mx-3 mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search" id="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>

        {% if user.is_authenticated %}

        <li class="mx-2" style="color:#03be2e;">
            <mark class="border1">Hello,{{user.first_name}}</mark>
        </li>
        <a href="/logout" class="btn btn-info mx-2" data-toggle="popover-hover" role="button"
           aria-pressed="true" data-content="Click here to logout">Logout</a>
        {% else %}
        <a href="/login" class="btn btn-info mx-2" data-toggle="popover-hover" role="button"
           aria-pressed="true" data-content="Already have an account ?<br> Login here.">Login</a>
        <a href="/registration" class="btn btn-info " data-toggle="popover-hover" role="button" aria-pressed="true"
           data-content="New User ?<br>Create account here.">Create
            Account</a>

        {% endif %}

        <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="Cart For Your Items">
            Cart(<span id="cart">0</span>)
        </button>
    </div>
</nav>

<div class="container">

    {% block body %} {% endblock %}

</div>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>

    $('[data-toggle="popover-hover"]').popover({
  html: true,
  trigger: 'hover',
  placement: 'bottom',
  <!--  content: function () { return 'New User ?<br>Create account here.'; }-->
});

</script>

{% block js %} {% endblock %}

</body>

</html>
