{% extends 'shop/basic.html' %}

{% block title %} Contact Us - My Awesome cart  {% endblock %}

{% block contactactive %} active {% endblock contactactive %}

{% block css %}

.badge{
 font-size:186%;
 padding: .25em 5.8em;
}

{% endblock %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mt-2 alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
<div class="col-lg-6 offset-lg-3 my-5 border border-dark">
    <h3 class="badge badge-light my-3">Contact Us !</h3>
    <form action="/shop/contact/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name Here" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Here" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
        </div>
        <div class="form-group">
            <label for="desc">How May We Help You ?</label>
            <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
        </div >
        <div class="mb-3">
        <button type="submit" id="success" class="btn btn-success">Submit</button>
            </div>
    </form>
</div>

{% endblock %}

{% block js %}

<script>

$('#success').click(function(){
localStorage.clear();
});

</script>

{% endblock %}
