{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}} - My Awesome cart {% endblock %}

{% block body %}

<div class="container my-4">
    <div class="row">
<div class="col-md-4 ">
<div class="row">
<img src="/media/{{product.image}}" width="233px" height="285px">

</div>
    <div class="row">
        <a href="/shop/checkout" class="btn btn-primary mx-2" role="button"
           aria-pressed="true">Buy Now</a>
        <a href="/shop" class="btn btn-primary mx-2" role="button"
           aria-pressed="true">Back >></a>

    </div>
    </div>
        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p><b>M.R.P:₹ {{product.price}}</b></p>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>


{% endblock %}
